.cm-s-default .cm-pml-alias {color: #FEBD0A;}
.cm-s-default .cm-pml-date  {color: #ff5200;}
.cm-s-default .cm-pml-task  {color: #d90d00;}
.cm-s-default .cm-pml-line-message  {color: #009900;}
.cm-s-default .cm-pml-block-message  {color: #009900;}
.cm-s-default .cm-pml-message  {color: #009900;}
